In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\vikas\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\vikas\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\vikas\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\vikas\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\vikas\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\vikas\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\vikas\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\vikas\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\vikas\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vikas\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [2]:
import warnings
warnings.filterwarnings('ignore')

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

As shown in the below image, you have to scrape the above attributes.

In [7]:
driver=webdriver.Chrome()

In [16]:
#Opening the flipkart.com page on automated Chrome browser
driver.get("https://www.flipkart.com/")

In [23]:
# Entering sneakers required in the question.

sneakers=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
sneakers.send_keys('sneakers')

search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [37]:
brand_name=[]
product=[]
price=[]

In [44]:
#Scraping brand, product description & price from 3 pages
start=0
end=3

for page in range (start,end):
    tag_brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in tag_brand:
        brand_name.append(i.text)
           
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [38]:
start=0
end=3

for page in range (start,end):
    tag_product=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in tag_product:
        product.append(i.text)
           
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [40]:
start=0
end=3

for page in range (start,end):
    tag_price=driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')
    for i in tag_price:
        price.append(i.text)
           
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [45]:
print(len(brand_name),len(product),len(price))

120 120 135

In [46]:
brand=brand_name[:100]
description=product[:100]
cost=price[:100]

In [47]:
df5=pd.DataFrame({'Brand Name':brand,'Product Description':description,'Price':cost})

In [48]:
df5

               Brand Name Product Description                Price
0                    PUMA                PUMA    ₹548₹1,29957% off
1                    PUMA                PUMA    ₹399₹1,89978% off
2                  CLARKS                PUMA    ₹326₹1,99983% off
3   HRX by Hrithik Roshan              ADIDAS      ₹398₹99960% off
4   HRX by Hrithik Roshan                PUMA      ₹339₹99966% off
..                    ...                 ...                  ...
95                   PUMA     U.S. POLO ASSN.  ₹4,859₹8,99946% off
96        U.S. POLO ASSN.              DUCATI  ₹2,321₹4,29946% off
97                 DUCATI         New Balance  ₹1,738₹3,49950% off
98            New Balance            RED TAPE  ₹3,779₹7,49949% off
99               RED TAPE                PUMA  ₹3,499₹5,99941% off

[100 rows x 3 columns]

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [4]:
#Opening the flipkart.com page on automated Chrome browser

driver=webdriver.Chrome()
driver.get("https://www.amazon.in/")

In [7]:
# Entering Laptop in the search field & Core i7 in the filter as per requirement in the question.

laptop=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
laptop.send_keys('laptop')

search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

i7core=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[13]/li/span/a/span')
i7core.click()

In [47]:
# Scrapting Title, Rating  & Price attribute for first 10 laptops

title=[]
title_tag=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tag:
    title.append(i.text)
   
    
rating=[]
rating_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in rating_tag:
    rating.append(i.text)
    
    
price=[]
price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tag:
    price.append(i.text)

In [49]:
title_=title[:10]
rating_=rating[:10]
price_=price[:10]

In [124]:
print(len(title_), len(rating_),len(price_))

10 10 10

In [50]:
df6=pd.DataFrame({'Laptop Title':title_,'Rating':rating_,'Price':price_})

In [51]:
df6

                                        Laptop Title Rating     Price
0  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...    100    75,990
1  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...     35    49,990
2  ASUS Vivobook 15, IntelCore i7-12650H 12th Gen...    359    60,990
3  Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...     99    55,990
4  Lenovo ThinkPad X1 Carbon (2021) Intel Core i7...    120  2,48,990
5  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...    289    64,990
6  Acer Aspire Lite Premium Metal Laptop 11th Gen...     47    49,990
7  HP Pavilion X360 11th Gen Intel Core i7 14" (3...     16    85,990
8  HP Windows 11 Home Victus Gaming Laptop,12Th G...     60    86,490
9  (Refurbished) ASUS Vivobook 15, IntelCore i7-1...     28    51,841

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap 
a) Quote 
b) Author 
c) Type Of Quotes

In [81]:
#Opening the azquotes.com page on automated Chrome browser

driver=webdriver.Chrome()
driver.get("https://www.azquotes.com/")

In [83]:
top_quote=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quote.click()

In [ ]:
# Scrapting Quote, Author & Type of Quotes of top 1000 Quotes

quote=[]
quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tag:
    quote.append(i.text)
   
    
author=[]
author_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in author_tag:
    author.append(i.text)
    
    
typeofquote=[]
typeofquote_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in typeofquote_tag:
    typeofquote.append(i.text)

In [93]:
start=0
end=10
quote=[]
author=[]
typeofquote=[]

for page in range (start,end):
    quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tag:
        quote.append(i.text)
    author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tag:
        author.append(i.text)        
    typeofquote_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in typeofquote_tag:
        typeofquote.append(i.text)        
        
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    next_button.click()
    time.sleep(3)

In [94]:
print(len(quote),len(author),len(typeofquote))

1000 1000 1000

In [97]:
df7=pd.DataFrame({'Quote':quote,'Author':author,'Type of Quote':typeofquote})

In [98]:
df7

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.

This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [4]:
#Opening the jagranjosh.com page on automated Chrome browser

driver=webdriver.Chrome()
driver.get("https://www.jagranjosh.com/")

In [27]:
gk=driver.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[7]/a')
gk.click()

In [29]:
india_gk=driver.find_element(By.XPATH,'/html/body/div/div[7]/section[5]/div[1]/h2/a')
india_gk.click()

In [30]:
listofpm=driver.find_element(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/section[2]/div/ul/li[10]/figure/a/span/img')
listofpm.click()

In [31]:
name=[]
born_dead=[]
termofoffice=[]
remarks=[]

In [136]:
jln_1=[] # name
jln_2=[] # Born_Dead
jln_3=[] # Terms of Office
jln_4=[] # Remark

jln1_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[4]/strong/a')
for i in jln_tag:
    jln_1.append(i.text)
    
jln2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[5]')
for i in jln2_tag:
    jln_2.append(i.text)    

jln3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[6]/span')
for i in jln3_tag:
    jln_3.append(i.text)    

jln4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[8]')
for i in jln4_tag:
    jln_4.append(i.text)

In [135]:
gn_1=[] # name
gn_2=[] # Born_Dead
gn_3=[] # Terms of Office
gn_4=[] # Remark

gn_1=[]
gn1_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[10]')
for i in gn1_tag:
    gn_1.append(i.text)
    
gn2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[11]')
for i in gn2_tag:
    gn_2.append(i.text)    

gn3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[12]/span')
for i in gn3_tag:
    gn_3.append(i.text)    

gn4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[14]')
for i in gn4_tag:
    gn_4.append(i.text)

In [142]:
lbs_1=[] # name
lbs_2=[] # Born_Dead
lbs_3=[] # Terms of Office
lbs_4=[] # Remark

lbs1_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[16]')
for i in lbs1_tag:
    lbs_1.append(i.text)
    
lbs2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[17]')
for i in lbs2_tag:
    lbs_2.append(i.text)    

lbs3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[18]/span')
for i in lbs3_tag:
    lbs_3.append(i.text)    

lbs4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[20]')
for i in lbs4_tag:
    lbs_4.append(i.text)

In [134]:
gln_1=[] # name
gln_2=[] # Born_Dead
gln_3=[] # Terms of Office
gln_4=[] # Remark

gln_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[22]')
for i in gln_tag:
    gln_1.append(i.text)
    
gln2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[23]')
for i in gln2_tag:
    gln_2.append(i.text)    

gln3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[24]')
for i in gln3_tag:
    gln_3.append(i.text)    

gln4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[26]')
for i in gln4_tag:
    gln_4.append(i.text)

In [133]:
ig_1=[] # name
ig_2=[] # Born_Dead
ig_3=[] # Terms of Office
ig_4=[] # Remark

ig_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[28]/strong/a')
for i in ig_tag:
    ig_1.append(i.text)
    
ig2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[29]')
for i in ig2_tag:
    ig_2.append(i.text)    

ig3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[30]/span')
for i in ig3_tag:
    ig_3.append(i.text)    

ig4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[32]')
for i in ig4_tag:
    ig_4.append(i.text)

In [129]:
md_1=[] # name
md_2=[] # Born_Dead
md_3=[] # Terms of Office
md_4=[] # Remark

md_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[34]')
for i in md_tag:
    md_1.append(i.text)
    
md2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[35]')
for i in md2_tag:
    md_2.append(i.text)    

md3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[36]/span')
for i in md3_tag:
    md_3.append(i.text)    

md4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[38]')
for i in md4_tag:
    md_4.append(i.text)

In [128]:
charan_1=[] # name
charan_2=[] # Born_Dead
charan_3=[] # Terms of Office
charan_4=[] # Remark

charan_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[40]')
for i in charan_tag:
    charan_1.append(i.text)
    
charan2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[41]')
for i in charan2_tag:
    charan_2.append(i.text)    

charan3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[42]/span')
for i in charan3_tag:
    charan_3.append(i.text)    

charan4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[44]')
for i in charan4_tag:
    charan_4.append(i.text)

In [127]:
indira_1=[] # name
indira_2=[] # Born_Dead
indira_3=[] # Terms of Office
indira_4=[] # Remark

indira_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[46]/strong/a')
for i in indira_tag:
    indira_1.append(i.text)
    
indira2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[47]')
for i in indira2_tag:
    indira_2.append(i.text)    

indira3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[48]/span')
for i in indira3_tag:
    indira_3.append(i.text)    

indira4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[50]')
for i in indira4_tag:
    indira_4.append(i.text)

In [126]:
rg_1=[] # name
rg_2=[] # Born_Dead
rg_3=[] # Terms of Office
rg_4=[] # Remark

rg_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[52]/a/strong')
for i in rg_tag:
    rg_1.append(i.text)
    
rg2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[53]')
for i in rg2_tag:
    rg_2.append(i.text)    

rg3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[54]/span')
for i in rg3_tag:
    rg_3.append(i.text)    

rg4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[56]')
for i in rg4_tag:
    rg_4.append(i.text)

In [125]:
vp_1=[] # name
vp_2=[] # Born_Dead
vp_3=[] # Terms of Office
vp_4=[] # Remark

vp_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[58]')
for i in vp_tag:
    vp_1.append(i.text)
    
vp2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[59]')
for i in vp2_tag:
    vp_2.append(i.text)    

vp3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[60]/span')
for i in vp3_tag:
    vp_3.append(i.text)    

vp4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[62]')
for i in vp4_tag:
    vp_4.append(i.text)

In [124]:
cs_1=[] # name
cs_2=[] # Born_Dead
cs_3=[] # Terms of Office
cs_4=[] # Remark

cs_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[64]/strong/a')
for i in cs_tag:
    cs_1.append(i.text)
    
cs2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[65]')
for i in cs2_tag:
    cs_2.append(i.text)    

cs3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[66]/span')
for i in cs3_tag:
    cs_3.append(i.text)    

cs4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[14]')
for i in cs4_tag:
    cs_4.append(i.text)

In [123]:
nr_1=[] # name
nr_2=[] # Born_Dead
nr_3=[] # Terms of Office
nr_4=[] # Remark

nr_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[70]')
for i in nr_tag:
    nr_1.append(i.text)
    
nr2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[71]')
for i in nr2_tag:
    nr_2.append(i.text)    

nr3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[72]/span')
for i in nr3_tag:
    nr_3.append(i.text)    

nr4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[74]')
for i in nr4_tag:
    nr_4.append(i.text)

In [122]:
abv_1=[] # name
abv_2=[] # Born_Dead
abv_3=[] # Terms of Office
abv_4=[] # Remark

abv_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[76]/strong/a')
for i in abv_tag:
    abv_1.append(i.text)
    
abv2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[77]')
for i in abv2_tag:
    abv_2.append(i.text)    

abv3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[78]/span')
for i in abv3_tag:
    abv_3.append(i.text)    

abv4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[80]')
for i in abv4_tag:
    abv_4.append(i.text)

In [120]:
hd_1=[] # name
hd_2=[] # Born_Dead
hd_3=[] # Terms of Office
hd_4=[] # Remark

hd1_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[82]')
for i in hd1_tag:
    hd_1.append(i.text)

hd2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[83]')
for i in hd2_tag:
    hd_2.append(i.text)    

hd3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[84]/span')
for i in hd3_tag:
    hd_3.append(i.text)    

hd4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[86]')
for i in hd4_tag:
    hd_4.append(i.text)

In [119]:
ig_1=[] # name
ig_2=[] # Born_Dead
ig_3=[] # Terms of Office
ig_4=[] # Remark

ig1_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[88]')
for i in ig1_tag:
    ig_1.append(i.text)

ig2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[89]')
for i in ig2_tag:
    ig_2.append(i.text)    

ig3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[89]')
for i in ig3_tag:
    ig_3.append(i.text)    

ig4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[92]')
for i in ig4_tag:
    ig_4.append(i.text)

In [118]:
atal_1=[] # name
atal_2=[] # Born_Dead
atal_3=[] # Terms of Office
atal_4=[] # Remark

atal1_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[94]/a/strong')
for i in atal1_tag:
    atal_1.append(i.text)

atal2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[95]')
for i in atal2_tag:
    atal_2.append(i.text)    

atal3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[96]/span')
for i in atal3_tag:
    atal_3.append(i.text)    

atal4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[98]')
for i in atal4_tag:
    atal_4.append(i.text)

In [117]:
ms_1=[] # name
ms_2=[] # Born_Dead
ms_3=[] # Terms of Office
ms_4=[] # Remark

ms1_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[100]/strong/a')
for i in ms1_tag:
    ms_1.append(i.text)

ms2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[101]')
for i in ms2_tag:
    ms_2.append(i.text)    

ms3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[102]/span')
for i in ms3_tag:
    ms_3.append(i.text)    

ms4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[104]')
for i in ms4_tag:
    ms_4.append(i.text)

In [156]:
nm_1=[] # name
nm_2=[] # Born_Dead
nm_3=[] # Terms of Office
nm_4=[] # Remark

nm1_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[106]/a/strong')
for i in nm1_tag:
    nm_1.append(i.text)

nm2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[107]')
for i in nm2_tag:
    nm_2.append(i.text)    

nm3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[108]/span')
for i in nm3_tag:
    nm_3.append(i.text)    

nm4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[109]')
for i in nm4_tag:
    nm_4.append(i.text)

In [115]:
namo_1=[] # name
namo_2=[] # Born_Dead
namo_3=[] # Terms of Office
namo_4=[] # Remark

namo1_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[106]/a/strong')
for i in namo1_tag:
    namo_1.append(i.text)

namo2_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[107]')
for i in namo2_tag:
    namo_2.append(i.text)    

namo3_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[113]/span')
for i in namo3_tag:
    namo_3.append(i.text)    

namo4_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[11]/p[114]')
for i in namo4_tag:
    namo_4.append(i.text)

In [144]:
name=jln_1+gn_1+lbs_1+gln_1+ig_1+md_1+charan_1+indira_1+rg_1+vp_1+cs_1+nr_1+abv_1+hd_1+ig_1+atal_1+ms_1+nm_1+namo_1

In [158]:
born_dead=Name=jln_2+gn_2+lbs_2+gln_2+ig_2+md_2+charan_2+indira_2+rg_2+vp_2+cs_2+nr_2+abv_2+hd_2+ig_2+atal_2+ms_2+nm_2+namo_2

In [147]:
term_of_office=Name=jln_3+gn_3+lbs_3+gln_3+ig_3+md_3+charan_3+indira_3+rg_3+vp_3+cs_3+nr_3+abv_3+hd_3+ig_3+atal_3+ms_3+nm_3+namo_3

In [148]:
remark=Name=jln_4+gn_4+lbs_4+gln_4+ig_4+md_4+charan_4+indira_4+rg_4+vp_4+cs_4+nr_4+abv_4+hd_4+ig_4+atal_4+ms_4+nm_4+namo_4

In [159]:
df8=pd.DataFrame({'Name':name,'Born-Dead':born_dead,'Term of Office':term_of_office,'Remakr':remark})

In [160]:
df8

,Name,Born-Dead,Term of Office,Remakr
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,First acting PM of India
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
    
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [3]:
#Opening the motor1.com page on automated Chrome browser

driver=webdriver.Chrome()
driver.get("https://www.motor1.com/")

In [5]:
#searching 50 most expensive cars on motor1.com website.

car=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
car.send_keys('50 most expensive cars')

search=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [6]:
searchcar=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/a/picture/img')
searchcar.click()

In [9]:
# Scraping Car name & price of 50 most expensive cars.

car_name=[]
name_tag=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tag:
    car_name.append(i.text)

In [22]:
name=car_name[:50]

In [19]:

price=[]
price_tag=driver.find_elements(By.XPATH,'//strong[/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[2]/p[4]/strong]')
for i in price_tag:
    price.append(i.text)

In [23]:
print(len(name),len(price))

50 50

In [24]:
df9=pd.DataFrame({'Car Name':name, 'Price':price})

In [25]:
df9

                              Car Name                        Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)